.resource-add-new {
  width: 100px;
  height: 100px;
  background: #ccc;
  text-align: center;
  line-height: 100px;
}

.resources-toolbar-wrapper {
  max-width: 700px;
}

ul#resources-wrapper, ul.resource-operations {
  margin: 0;
  list-style-type: none;
}

#resources-wrapper {
/*  height: 140px;
  max-width: 700px;
  overflow-x: scroll;*/
  padding: 5px;
}

#resources-wrapper li.resource-item {
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  height: 110px;
  list-style-type: none;
  padding: 5px;
  vertical-align: top;
  width: 110px;
}

#resources-wrapper li.resource-item:hover {
  border: 1px dashed #ccc;
}

#resources-wrapper {
  overflow: hidden;
  background: transparent;
}

#resources-wrapper ul.resource-operations {
  display: none;
  position: absolute;
  top: 25px;
  left: 100px;
  z-index: 100;
  margin: 0;
  background: #eee;
}

ul.resource-operations li {
  list-style-type: none;
  display: block;
  width: 100px;
}

a.resources-browser-trigger {
  border: 1px solid black;
  padding: 2px;
  background: #fff;
  text-decoration: none;
  color: #000;
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 5px;
}

.resources-browser-toolbar {
  width: 100%;
  height: 30px;
  background: #eee;
}

.resources-toolbar-wrapper {
  border: 1px solid #eee;
  border-radius: 5px;
}

.resources-toolbar-wrapper .resources-browser-wrapper {
  margin: 0;
  width: 100% !important;
  background: #fcfcfc;
}

.resources-browser-wrapper {
  display: none;
}

.form-item-resources-ids {
  display: none;
}

.resource-name {
  display: block;
  line-height: 1.2;
  margin-bottom: 3px;
}
