#modalBackdrop {
  background-color: #000!important;
}

#resources-add-form #edit-upload-ajax-wrapper {
  float: none;
}

.resource-add-new {
  width: 100px;
  height: 100px;
  background: #ccc;
  text-align: center;
  line-height: 100px;
}

.resources-toolbar-wrapper {
  max-width: 700px;
}

ul#resources-wrapper, ul.resource-operations {
  margin: 0;
  list-style-type: none;
}

#resources-wrapper {
  background: transparent;
  height: 165px;
  max-width: 700px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px;
  position: relative;
  top: 0;
  white-space: nowrap;
}

#resources-wrapper li.resource-item {
  border: 1px solid transparent;
  display: inline-block;
  height: 120px;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 120px;
}

#resources-wrapper li.resource-item:hover {
  border: 1px dashed #ccc;
}

#resources-wrapper li.resource-item:first-of-type {
  border: 0;
  top: 18px;
}

#resources-wrapper li.resource-item:last-of-type {
  margin-right: 100px;
}

#resources-wrapper ul.resource-operations {
  background: #eee;
  display: none;
  position: absolute;
  top: 23px;
  left: 100px;
  margin: 0;
  padding-left: 6px;
  z-index: 100;
}

ul.resource-operations li {
  list-style-type: none;
  display: block;
  padding-left: 3px;
  text-align: left;
  width: 100px;
}

a.resources-browser-trigger {
  border: 1px solid black;
  padding: 2px;
  background: #fff;
  text-decoration: none;
  color: #000;
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 5px;
}

.resources-browser-toolbar {
  width: 100%;
  height: 30px;
  background: #eee;
}

.resources-toolbar-wrapper {
  border: 1px solid #eee;
  border-radius: 5px;
}

.resources-toolbar-wrapper .resources-browser-wrapper {
  margin: 0;
  width: 100% !important;
  background: #fcfcfc;
}

.resources-browser-wrapper {
  display: none;
}

.form-item-resources-ids {
  display: none;
}

.resource-name {
  display: block;
  line-height: 1.2;
  margin-bottom: 3px;
}

.resource-view-mode-selection {
  margin-top: 3px;
}

#resources-wrapper #resource-new ul.resource-operations {
  top: 5px;
}
